<div class="d-flex justify-content-evenly">

    <h1>Welcome @Context.Session.GetString("FirstName")!</h1>
    <p>Home | <a asp-action="AddWedding">Plan a Wedding</a> |
    <form asp-action="Logout" asp-controller="User" method="Post">
        <button class="btn btn-primary">Logout</button>
    </form>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Wedding of</th>
            <th scope="col">Date</th>
            <th scope="col">Guest Count</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wedding w in Model)
        {
            bool RSVPd = w.UserRSVPs.Any(ul => ul.UserId == Context.Session.GetInt32("UserId"));
            <tr>
                <td> <a asp-controller="Weddings" asp-action="ViewWedding" asp-route-weddingId="@w.WeddingId">@w.Wedder1 & @w.Wedder2</a></td>
                <td>@w.Date</td>
                <td>@w.UserRSVPs.Count</td>
                <td>@if (Context.Session.GetInt32("UserId") == w.Creator.UserId)
                    {   
                        <form asp-action="DeleteWedding" asp-route-weddingId="@w.WeddingId" asp-controller="Weddings" method="Post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    }else {
                        <form asp-action="userRSVP" asp-controller="Weddings" asp-route-weddingId="@w.WeddingId" method="Post">
                        <button  class="btn btn-warning">@(RSVPd? "UnRSVP" : "RSVP") </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>